html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2rem 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 70ch;
}

hr {
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
}