html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

* {
  box-sizing: border-box;
}


main {
  height: 95vh;
  padding: 0 2rem 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 70ch;
}

hr {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
}

/* Headings */
h1 {
  font-size: 32px;
}